# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules/
backend/node_modules/
client/client/node_modules/

# Build and deployment files
dist/
build/
client/client/dist/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/.env
client/client/.env

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sqm
*.swp
.DS_Store
